.search-card-container{
  background-color: var( --app-color-bg-secondary);
  padding: 20px 25px;
  border-radius: 10px;
  
}

.search-card-content h1{
  margin-bottom: 20px;
  font-weight: 500;
}


.search-card-content input{
  width: 300px;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}