@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --app-color-bg-primary: #1890FF;
  --app-color-bg-secondary: #E6F7FF;
  --app-color-bg-tertiary: #F5F5F5;
  --app-color-bg-quaternary: #FFFFFF;

  --app-color-font-primary: #ffffff;
  --app-color-font-secondary: #000000;
  --app-color-font-tertiary: #7E7E7E;
  --app-color-font-quaternary: #1890FF;

  --app-color-btn-primary: #1890FF;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

main {
  margin-top: 20px;
  margin-left: 20px;
}

/*-----------------------------------------------------------------*/
/* header styles */

header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/*-----------------------------------------------------------------*/
/* generic styles */

.mt-40 {
  margin-top: 40px;
}


/*-----------------------------------------------------------------*/
/* card styles */

.app-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/*-----------------------------------------------------------------*/
/* button styles */


.app-btn {
  width: 100px;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}


.btn-blue {
  border: none;
  background-color: var(--app-color-btn-primary);
  color: var(--app-color-font-primary);
}